{{define "got" -}} {{range $i, $el := .Results}}{{if $i}}, {{end}}{{Got .}}{{end}}{{if and .Results .ReturnsError}}, {{end}}{{if .ReturnsError}}err{{end}} {{if or .Results .ReturnsError}} := {{end}} {{end}}