{{define "assertion" -}}
    {{- /*gotype: github.com/cweill/gotests/internal/models.TData*/ -}}
    {{- if .ReturnsError}}
        if tt.wantErr != nil {
          {{template "assertError" .}}
        }
    {{- end}}

    {{template "assertNoError" .}}
{{- end}}


{{define "assertError" -}}
    {{- /*gotype: github.com/cweill/gotests/internal/models.TData*/ -}}
    assert.EqualError(t, err, tt.wantErr.Error())
    {{- if .OnlyReturnsOneValue}}
        assert.Nil(t, {{Got .}})
    {{- end}}
    // TODO assert side effects

    return
{{- end}}


{{define "assertNoError" -}}
    {{- /*gotype: github.com/cweill/gotests/internal/models.TData*/ -}}
    {{- $f := .}}
    assert.NoError(t, err)
    {{- range .TestResults}}
        {{- if .IsWriter}}
            {{template "equal" $f}}(t, tt.{{Want .}}, {{Param .}}.String(){{template "msg" $f}})
        {{- else}}
            {{- if $f.OnlyReturnsOneValue}}
                {{template "equal" $f}}(t, tt.{{Want .}}, {{template "inline" $f}}{{template "msg" $f}})
            {{- else}}
                {{template "equal" $f}}(t, tt.{{Want .}}, {{Got .}}{{template "msg" $f}})
            {{- end}}
        {{- end}}
    {{- end}}
{{- end}}


{{define "equal"}}assert.Equal{{if or (not .Subtests) .PrintInputs}}f{{end}}{{end}}


{{define "msg"}}{{if or (not .Subtests) .PrintInputs}} , "{{template "message" .}}", {{template "inputs" .}}{{end}}{{end}}